html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #000;
    color: #ddd;
    cursor: default;
    font-family: 'Microsoft JhengHei', 'Open Sans', sans-serif;
    /*-webkit-user-modify: read-write-plaintext-only;*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    font-family: 'Microsoft JhengHei', 'Open Sans', sans-serif;
    /*-webkit-user-modify: read-write-plaintext-only;*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    text-align: center;
}

div {
    font-family: 'Microsoft JhengHei', 'Open Sans', sans-serif;
    /*-webkit-user-modify: read-write-plaintext-only;*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    text-align: center;
}

.small-text {
    font-size: 24px;
    font-family: 'Microsoft JhengHei', 'Open Sans', sans-serif;
}

/*.small-margin {*/
/*margin: 5px;*/
/*}*/

select {
    padding: 3px;
    margin: 0;

    border-radius: 4px;

    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color: #888;
    border: none;
    outline: none;
    display: inline-block;

    cursor: pointer;
}


.view-node {
    border: 0 solid;
    /*overflow-y: auto;*/
    overflow-x: hidden;
    /*-webkit-flex: 1 1 auto;*/
    /*flex: 1 1 auto;*/
    position: absolute;
    /*-webkit-transition: all 0.1s;*/
    /*transition: all 0.1s;*/
}
